In [1]:
from array import *

In [11]:
myarray = array('i',[1,5,3,10,16])

In [12]:
myarray[0]

1

# Basic Oprations on DataStructures

Traverse − print all the array elements one by one.

Insertion − Adds an element at the given index.

Deletion − Deletes an element at the given index.

Search − Searches an element using the given index or by the value.

Update − Updates an element at the given index.

# syntax of array defination

arrayName = array(typecode,[initializers])

| TypeCode | Value |
| --- | --- |
| b | Represents signed integer of size 1 byte |
| B | Represents unsigned integer of size 1 byte |
| c | Represents char of size  byte |
| i | Represents signed integer of size 2 bytes |
| I | Represents unsigned integer of size 2 bytes |
| f | Represents Floating Point of size 4 byte |
| d | Represents Floating Point of size 8 byte |

# Insertion

Insertion in array is done using array's buit in method **insert(new element)**

In [16]:
myarray[4]

10

In [14]:
myarray.insert(2,70)

In [15]:
print(myarray)

array('i', [1, 5, 70, 3, 10, 16])

# Deletion

Deletion in array is done using array's buit in method **remove(element)**

In [17]:
myarray.remove(70)

In [18]:
myarray

array('i', [1, 5, 3, 10, 16])

In [19]:
myarray.remove(myarray[2])

In [20]:
myarray

array('i', [1, 5, 10, 16])

# Updatation

Updatation in array is done using just assign new value to the array using its index number

In [22]:
myarray[3] = 45

In [23]:
myarray

array('i', [1, 5, 10, 45])

# Searching

Searching in array is done using array's buit in method **index(element)** and it return the index number of that element

In [25]:
myarray.index(5)

1

# Two Dimentional Arrays

In [45]:
T = [[11, 12, 5, 2], [15, 6,10], [10, 8, 12, 5], [12,15,8,6]]

In [59]:
T[0][3]

IndexError: list index out of range

# Printing

In [47]:
for r in T:
    for v in r:
        print(v,end=' ')
    print("\n")

11 12 5 2

15 6 10

10 8 12 5

12 15 8 6

# Insert a new element

In [48]:
T.insert(1,[12,22,31,45])

In [49]:
T

[[11, 12, 5, 2], [12, 22, 31, 45], [15, 6, 10], [10, 8, 12, 5], [12, 15, 8, 6]]

# Delete an element

In [50]:
T.remove([11, 12, 5, 2])

In [51]:
for r in T:
    for v in r:
        print(v,end=' ')
    print("\n")

12 22 31 45

15 6 10

10 8 12 5

12 15 8 6

In [52]:
del T[0]

In [53]:
for r in T:
    for v in r:
        print(v,end=' ')
    print("\n")

15 6 10

10 8 12 5

12 15 8 6

# Update an element

In [54]:
for r in T:
    for v in r:
        print(v,end=' ')
    print("\n")

15 6 10

10 8 12 5

12 15 8 6

In [55]:
T[0][2] = 100

In [56]:
for r in T:
    for v in r:
        print(v,end=' ')
    print("\n")

15 6 100

10 8 12 5

12 15 8 6

In [57]:
T[1] = [10,20,30,40]

In [58]:
for r in T:
    for v in r:
        print(v,end=' ')
    print("\n")

15 6 100

10 20 30 40

12 15 8 6